colorlover>=0.2.1
Flask>=0.12.2
graphviz>=0.8.4
matplotlib>=2.2.2
numpy>=1.14.5
seaborn>=0.8.1
scipy>=0.19.1
portalocker>=1.2.1
plotly>=2.5.1
Pillow>=5.1.0
visdom>=0.1.8.4
tensorboardX>=1.6
pathos>=0.2.0
